AndroidLightCompressorBinding/.vs/
AndroidLightCompressorBinding/AndroidLightCompressorBinding/.vs/
.DS_Store/
AndroidLightCompressorBinding/AndroidLightCompressorBinding/bin/
AndroidLightCompressorBinding/AndroidLightCompressorBinding/obj/
